* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

mat-paginator {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  z-index: 1000;
}
