<mat-toolbar class="mat-elevation-z8" color="primary">
  <span routerLinkActive="active" [routerLink]="['/']">Pokémon Cards</span>
  
  <span class="example-spacer"></span>


  <div class="search">
    <input type="text" name="" [(ngModel)]="searchInput" placeholder="Search" class="text">
    <!-- <a href="#" class="btn"><i class="fa fa-search "></i></a> -->
    <button mat-icon-button class="btn" (click)="submitSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </div>

</mat-toolbar>
