<div *ngIf="card" class="card" (click)="openCardDetails()">
  <div class="row">
    <div class='col-4'>
      <app-image-spinner [imageUrl]="card.images.small" [imageName]="card.name"></app-image-spinner>
    </div>
    <div class='col-8 wrapper'>
      <h1>{{ card.name }}</h1>
      <div class="id">
        {{ card.id }}
      </div>
      <div class="row">
        <div class="col-6" *ngFor="let type of card.types">
          <app-attribute [name]="type" [icon]="type" color="green"></app-attribute>
        </div>
      </div>
    </div>
  </div>
</div>