* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.card {
  display: flex;
  justify-content: left;
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

// .card h3 {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }