* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.card {
  display: inline-block;
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

h3 {
  margin: 0px;
  font-weight: bold;
}

.attributes {
  display: flex;
  align-items: center;

  span {
    margin-left: 10px;
  }
}

.id {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  text-align: right;
}

.wrapper {
  position: relative;
}