.card {
    display: flex;
    justify-content: left;
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  
    img {
      height: 80vh;
    }
  }
  
  .card_right {
      padding-left: 20px;
  }