<div *ngIf="card" class="card">
  <div class="row">
    <div class="col-4">
      <app-image-spinner [imageUrl]="card.images.large" [imageName]="card.name"></app-image-spinner>
    </div>
    <div class="col-8">
      <h1>{{ card.name }}</h1>
      <p>{{ card.id }}</p>
      <div *ngFor="let type of card.types">
        <app-attribute [name]="type" [icon]="type" color="green"></app-attribute>
      </div>

      <div>
        <h3>Attacks</h3>
        <div *ngFor="let attack of card.attacks">
          <h3>{{ attack.name }}</h3>
          <p>Damage: {{ attack.damage ? attack.damage : '-' }}</p>
          <p>Cost: {{ attack.convertedEnergyCost ? attack.convertedEnergyCost : '-' }}</p>
          <p>{{ attack.text }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h3>Weaknesses</h3>
          <div class="attributes" *ngFor="let weakness of card.weaknesses">
            <app-attribute [icon]="weakness.type" color="red"></app-attribute><span>{{weakness.value}}</span>
          </div>
        </div>
        <div class="col-6">
          <h3>Resistances</h3>
          <div class="attributes" *ngFor="let resistance of card.resistances">
            <app-attribute [icon]="resistance.type" color="purple"></app-attribute><span>{{resistance.value}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>