div {
color: #ffffff;
  border-radius: 30px;
  display: inline-flex;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
}